/WGraph.class
/WGraph$1.class
/WGraph$Edge.class
/WGraph$Point.class
/ImageProcessor.class
/ImageProcessor$1.class
/ImageProcessor$Color.class
/ImageProcessor$Edge.class
/ImageProcessor$Point.class
/AllTests$1.class
/AllTests$Pair.class
/AllTests$Pixel.class
